@font-face {
    font-family: "Roboto-light";
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-italic";
    src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #cceff5; */
    font-family: "Roboto-italic";
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
}
.text-red{
    color: red;
}
a:hover {
    color: #1a53af;
}
a:focus {
    color: yellow;
}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 15px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
/* Шапка */
header {
    font-family: "Roboto-italic";
    font-weight: 500;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #c6d5d6; */
    margin-bottom: 10px;
    padding: 2vh 1vw;
    /* padding-left: 1vw;
   padding-right: 1vw; */
}
.logo {
    width: 25%;
}
.nav-list {
    display: flex;
    list-style: none;
    flex-grow: 1;
}

.nav-list li {
    margin-right: 1vw;
}

.nav-button {
    font-family: "Roboto-italic";
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-button:hover {
    color: rgb(87, 87, 187);
}

.nav-button:focus {
    outline: none;
    color: yellow;
}

.container {
    margin: 0 auto;
    text-align: center;
}
.container-flex {
    display: flex;
    justify-content: space-between;
    /* pad */
}
.container-select {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/* Форма */
.text_error {
    color: red;
    font-size: 0.8rem;
    margin-top: 1%;
}
.form-div {
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
}
.form-label {
    /* margin-right: 11%; */
    margin-bottom: 0.5%;
    font-size: 100%;
}
.form-label-like {
    margin-right: 1%;
}
.form-label-name {
    margin-right: 12%;
}
.form-label-password {
    margin-right: 7%;
}
.form-label-date {
    margin-right: 5%;
}
.form-input {
    max-width: 20%;
    width: 100%;
    margin: 0 auto;
    padding: 0.5%;
    border: 1px solid #ccc;
    border-radius: 8%;
    box-sizing: border-box;
}

.form-account {
    /* max-width: 20%; */
    width: 100%;
    margin: 0 auto;
    padding: 0.5%;
    border: 1px solid #ccc;
    border-radius: 8%;
    box-sizing: border-box;
}
.form-select {
    max-width: 15%;
    width: 100%;
    margin: 0 auto;
    padding: 0.3%;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8%;
    box-sizing: border-box;
}
.btn {
    display: inline-block;
    max-width: max-content;
    max-height: max-content;
    width: 100%;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px;
    background-color: #37c5d8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-admin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #37c5d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn-admin_category {
    position: fixed;
    right: 20px;
    background-color: #37c5d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    display: inline-block;
    margin-top: 10px; /* Отступ между текстом и кнопкой */
    padding: 8px 16px; /* Поля кнопки */
    background-color: #37c5d8;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.btn-like {
    max-width: 5vh;
}

.btn-user-edit {
    max-width: 100%;
    font-size: 2.5vh;
    margin: 0 auto;
    padding: 9px;
    background-color: #ebde29;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    overflow-y: auto;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.modal-wrap {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.modal-window {
    margin: 5vh;
    padding: 5vh;
    border-radius: 1vh;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 600px;
    max-width: 100%;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    position: relative;
}
.modal-close {
    align-items: center;
    color: #3f3a3a;
    padding: 1vh;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 3vh;
    font-weight: bold;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}
.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Каталог книг */
.genre {
    /* width: 5%; */
}
.genre-right {
    text-align: right;
    margin-right: 5%;
}

.genre-left {
    margin-left: 5%;
    text-align: left;
}
.genre-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(200px, 1fr)
    ); /* Задаем автоматические столбцы с минимальной шириной 200px */
}

.genre-list li {
    border: 1px solid #ccc; /* Добавляем рамку для каждого элемента списка */
    padding: 10px; /* Добавляем отступы вокруг текста */
    text-align: center; /* Выравниваем текст по центру */
}

.list-catalog {
    margin-left: 4%;
    /* margin-bottom: 5% ; */
}

.book-list {
    display: flex;
    justify-content: end;
    margin-bottom: 5%;
}
.book-account_marks{
    padding-bottom: 20px;
}
.book {
    width: 204px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}


.book-info {
    background-color: #fff;
    padding: 10px;
}

.main-book-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.admin-book-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Отедльная книга */
.book-container {
    display: flex;
    gap: 1%;
    margin-left: 5%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* чтение книги */
.read {
    font-family: "Roboto-light", sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 20px 5%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: justify;
}
.book-container > img {
    height: 428px;
    width: 342px;
}
.book-text-name {
    font-family: "OpenSans-bold";
    font-size: 35px;
}

.book-evaluation {
    color: #ebde29;
}
.book-divider-line {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    width: 1px;
    background: #c4c4c6;
    margin-left: 1vw;
    margin-right: 1vw;
}
.book-block {
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: none;
    height: 8vh;
    line-height: 8vh;
    background-color: #f5f5f5;
    text-transform: uppercase;
    font-weight: bold;
}

.book-block-buy {
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: none;
    height: 8vh;
    line-height: 8vh;
    background-color: #f5f5f5;
    text-transform: uppercase;
    font-size: 5vh;
    margin-left: 5vw;
    font-weight: bold;
}

.book-account {
    width: 15vw;
    height: 25vh;
    margin-top: 10vh;
    margin-bottom: 30vh;
    margin-right: 10vw;
}
.accountUser {
    margin-left: 10vw;
}

.book-edit {
    width: 15vw;
    height: 40vh;
    margin-top: 10vh;
    margin-bottom: 25vh;
    margin-left: 10vw;
}

/* Комментарии */
.comment-container {
    display: flex;
    max-width: 75%;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    padding: 2vh;
    border: 1px solid black;
    text-align: left;
}
.comment-title {
    margin-left: 5%;
}
.comment-text {
    margin-bottom: 3%;
}

.comment-form {
    margin: 0 auto;
    text-align: center;
}

/* Подписка */
.form-check {
    margin-bottom: 10px;
}

.form-check-label {
    margin-left: 5px;
}

/* Пагинация */
.pagination {
    margin-top: 2%;
}
nav[role="navigation"] {
    display: flex;
    justify-content: center;
}

ul.flex {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.flex li {
    margin: 0 3px;
}

ul.flex li.disabled span {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
ul.flex li.active span {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

ul.flex li a {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

ul.flex li a:hover {
    text-decoration: underline;
}

/* Подвал */
footer {
    margin-top:5%;
    margin-bottom:2%;
    margin-left: 2%;
    bottom: 0;

}

/* Админка */
.btn-danger {
    background-color: red;
}
.btn-warning {
    background-color: yellow;
}
